.contact-page {
  text-align: center;
  padding: 3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.contact-page.light {
  background-color: #f5f5f5;
  color: #222;
}

.contact-page.dark {
  background-color: #121212 !important;
  color: #eee !important;
}

.contact-page.light h2 {
  color: #222;
}

.contact-page.dark h2 {
  color: #e4e4e4;
}

.contact-page.light p {
  color: #6f6c6c;
}

.contact-page.dark p {
  color: #c7c7c7;
}


.btn-home {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #222;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background 0.3s;

}

.btn-home:hover {
  background-color: #444;
}