.theme-button {
  background: transparent !important;
  border: none !important;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-right: -30px;
}

.theme-button.light svg {
  stroke: black !important;
}

.theme-button.dark svg {
  stroke: white !important;
}