.cart-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.light .cart-wrapper {
  background-color: transparent;
  color: white;
}

.dark .cart-wrapper {
  background-color: transparent;
  color: white;
  top: 20px;
  right: 20px;
}

.cart-wrapper svg {
  width: 26px;
  height: 26px;
}

.counterProduct {
  position: absolute;
  bottom: -4px;
  right: -4px;
  border-radius: 50%;
  padding: 4px;
  font-size: 0.7rem;
}