.cart-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px;
  height: 50px;
  position: absolute !important;
  top: 5%;
  right: 17px;
  padding: 0 !important;
  margin-right: 10px !important;
  z-index: 999;
}

.light .cart-wrapper {
  background-color: transparent;
  color: #fffefe !important;
}

.dark .cart-wrapper {
  background-color: #222;
  color: #fff;
  padding: 0 !important;
  margin-top: -20px;
  margin-right: -10px !important;
  width: 60px;
}

.light .cart-wrapper:hover {
  background-color: #e0e0e0;
}

.dark .cart-wrapper:hover {
  background-color: #333;
}

.cart-wrapper svg {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
}

.light .counterProduct {
  position: absolute;
  bottom: 0px;
  left: -8px;
  border-radius: 50%;
  padding: 5px;
}

.dark .counterProduct {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 50%;
  padding: 5px;
}