
.inicio .NavBar {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.light.inicio {
  background-image: url("/images/Items/portadaLight2.jpg");
  width: 99%;
  position: relative;
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text);
  background-size: cover;
  background-position: center;
}

.dark .inicio .NavBar {
  background-color: var(--bg-nav);
}


nav.inicio .logo {
  width: 200px;
  height: auto;
  margin-top: -40px;
}

.h1 {
  margin-top: -100px;
  margin-left: -20px;
  font-size: 3rem;
  color: white;
}

.left-block {
  display: flex;
  align-items: center;
  gap: 4px;
}



.NavBar {
  background-color: var(--bg-nav);
  color: var(--text);
  position: absolute;
  bottom: 0px;
  right: 20px;

  display: flex;
  gap: 20px;
  list-style: none;

  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.NavBar li,
.NavBar a {
 color: white !important;
  text-decoration: none;
  font-weight: 600;
  padding-top: 20px;
}



.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  background-color: grey;
  border: 1px solid var(--border);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  list-style: none;
  padding: 8px 0;
  margin-top: 6px;
  min-width: 150px;
  z-index: 100;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 0.95rem;
  color: var(--primary);
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: var(--primary);
  color: var(--primary-text);
}


.login-button {
  margin-left: 30px;
   color: white !important;
}
