.inicio {
  min-height: 200px;
}

nav.inicio.light .NavBar {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

nav.inicio.light {
  background-image: url("/images/Items/portadaLight2.jpg") !important;
  width: 99%;
  position: relative;
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

nav.inicio.dark {
  background-image: url("/images/Items/portadaDark.jpg") !important;
  min-height: 320px;
}

nav.inicio.dark .NavBar {
  background-color: var(--bg-nav) !important;
  box-shadow: none;
  border: none;
  position: absolute;
  margin-bottom: 605px;
  margin-right: -20px;
}

nav.inicio .logo {
  width: 200px;
  height: auto;
  margin-top: -40px;
}

.dark .itemList {
  background-color: black;
}

.h1 {
  margin-top: -50px;
  margin-left: -20px;
  font-size: 3rem;
  color: white;
}

.dark .h1 {
  color: black;
}

.left-block {
  display: flex;
  align-items: center;
  gap: 4px;
}

.NavBar {
  background-color: var(--bg-nav);
  color: var(--text);
  position: absolute;
  bottom: 0px;
  right: 20px;
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.NavBar li,
.NavBar a {
  color: white !important;
  text-decoration: none;
  font-weight: 600;
  padding-top: 20px;
}

svg {
  color: white;
}

.login-button {
  margin-left: 20px;
  color: white !important;
  position: relative;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: grey;
  border: 1px solid var(--border);
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 8px 0;
  margin-top: 0%;
  min-width: 150px;
  z-index: 100;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 0.95rem;
  color: var(--primary);
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: var(--primary);
  color: var(--primary-text);
}

.dropdown-item.back-home {
  border-top: 1px solid #020202;
  padding-top: 10px;
  margin-top: 8px;
  font-weight: 600;
}