.inicio {
  width: 99%;
  background-image: url("../../../images/Items/logoPortada.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.inicio .logo {
  width: 200px;
  height: auto;
  margin-top: 60px;
}


.left-block {
  display: flex;
  align-items: center;
  gap: 4px;
}

.h1 {
  margin: 0;
  margin-left: -20px; 
  font-size: 3rem;
}

h1 {
  color: white !important;
}


.NavBar {
  position: absolute;
  bottom: 0px;
  right: 20px;
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  z-index: 10;
}


.NavBar li a,
.NavBar li {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 20px;
}

.login-button{
  margin-left: 30px;
}


.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #050505;
  list-style: none;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(151, 143, 143, 0.043);
  padding: 8px 0;
  margin-top: 6px;
  min-width: 150px;
  z-index: 100;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 0.95rem;
  color: #1f5d1f;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background-color: #1f5d1f;
}
